.wrapper {
    position: fixed;
    top: 60px;
    padding: 0 10px;
    right: 30px;
    width: fit-content;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    line-height: 28px;
}

.notification {
    margin: 12px auto;
    width: fit-content;
    clear: left;
    padding: 3px;
} 

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 12px 12px;
  padding: 3px;
  border-radius: 3px 3px 3px 3px;
  box-shadow:1px 1px 3px #888;
  min-width: 160px;
  text-align: center;
}

.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}

.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}